@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home Page";
}

<div class="landingPage">
    <div class="top-column">
        <h1 class="display-4">WELCOME</h1>
    </div>
    <div class="bottom-column">
        <a href="/Course/">CONTINUE</a>
    </div>
    
    
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

