@model IEnumerable<Instructor>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach(Instructor instructor in Model)
{
    <h2>Name: @instructor.FullName</h2>
    <p>Department: @instructor.Department</p>
    <a class="btn btn-primary btn-sm" href="/Instructor/Detail/@instructor.Id">View Details</a>
    <a class="btn btn-danger btn-sm" href="/Instructor/Delete/@instructor.Id">Delete Instructor</a>
    

}