@model Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@Model.Name</h1>
<p><strong>Instructor: </strong>@Model.Instructor.FullName</p>
<p><strong>Location: </strong>@Model.Building - @Model.RoomNumber</p>

<a class="btn btn-danger btn-sm" href="/Course/Edit/@Model.Id">Edit Course</a>