@model CourseViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Course.Id" />

    <div class="form-group">
        <label class="control-label" asp-for="Course.Name"></label>
        <input asp-for="Course.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Course.DepartmentCode"></label>
        <input asp-for="Course.DepartmentCode" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Course.Image"></label>
        <input type="hidden" asp-for="Course.Image" />
        @if (!String.IsNullOrEmpty(Model.Course.Image))
        {
            <p>@Model.Course.Image | <a class="btn btn-danger btn-sm" href="/Course/RemoveImage/@Model.Course.Id">Delete</a></p>
        }
        @*<input asp-for="Course.Image" class="form-control" />*@
        <input type="file" id="CourseImage" name="CourseImage" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Course.Building"></label>
        <input asp-for="Course.Building" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Course.RoomNumber"></label>
        <input asp-for="Course.RoomNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="Course.InstructorId"></label>
        <select asp-for="Course.InstructorId" class="form-control" asp-items="@(new SelectList(Model.Instructors, "Id", "FullName"))">
            <option disabled selected>---SELECT INSTRUCTOR---</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="form-control" />
    </div>

</form>