@model IEnumerable<Course>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Courses</h1>
<a class="btn btn-primary btn-sm" href="/Course/Add">Add Course</a>

@foreach(Course course in Model)
{
    <h2><a href="/Course/Detail/@course.Id">@course.Name</a> | <a class="btn btn-danger btn-sm" href="/Course/Delete/@course.Id">Delete</a></h2>
}
